.html{
    height: 100%; 
    
}
body{
    border-radius: 5px;
}
.cars{
    display: flex;
    flex-wrap: nowrap;  
    padding: 150px 300px;
    width: 40%;
    height:350px;
    border-style: solid;
    color: white;
    font-size: 12;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*margin-left:20%;*/
}

p,h4,img{
    margin-left:10%;
}
.classic1{
    border-radius: 12px;
    color: orange;
    margin-left:10%;
    padding-bottom: 5px;


}
.classic2{
    border-radius: 12px;
    color: teal;
    margin-left:10%;
    padding-bottom: 5px;

}
.classic3{
    border-radius: 12px;
    color: green;
    margin-left:10%;
    padding-bottom: 5px;

}
.sedan{
    background-color: orange;
    

}
.suv{
    background-color: teal;

}
.luxury{
    background-color: green;

}